{{ define "main" }}
    <main aria-role="main">
        <div>
            <main class="post">
                <article>
                    <h1 class="post-title">Halloooo!</h1>
                    <div class="post-content">
                        My name is Thomas Deurloo, I work in the field of hydrology, and have a weak spot for everything data science related. 
                        This blog aims to show examples of my personal projects, mostly related to data science in the water sector.
                        Furthermore I just started as a part-time freelancer, if interested feel free to <a href='mailto:thomas@thomasdeurloo.nl'>contact me</a>.
                        <br>
                        <br>
                        {{ with .Site.Params.photo }}
                        <div>
                            <img src='{{ . | relURL }}' width=250 class="left">
                        </div>
                        {{ end }}
                    </div>
                </article>
            </main>

            
        </div>
    </main>
{{ end }}
